# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# macOS/Windows system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
