<!DOCTYPE html>
<head>

</head>
<body>
  <div>
    <h1>
      Write Your Journal Entry Here:
    </h1>
    <form action="/confirm" method="post">
      <textarea id="entryBox" name="entryBox" class="inputStyle" rows="10" cols="50">Write Here!</textarea>
      <input type="submit" value="Extract Mindfulness Insights">
    </form>
  </div>
</body>
<Script>

</Script>